
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="empleadosCuentasTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Cuentas de <wbr/>empleados</h1>
    </ion-row>

    <ion-row id="empleadosCuentasBusqueda" class="ion-text-center">
      <ion-input placeholder="Ingrese nombre a buscar"></ion-input>
    </ion-row>

    <ion-row id="empleadosCuentasLista" class="ion-text-center marginbottom">
    
      <ol>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
        <li>
          <p>
           Pedro Juan González Carrasco.
          </p>
        </li>
      </ol>
    </ion-row>

    <ion-row class="empleadosCuentasBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/hotel-admn']" class="primarioBoton" size="large">Volver al panel</ion-button></ion-col>
    </ion-row>

    <ion-row id="reservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
