
<ion-content [fullscreen]="true">

  <ion-grid class="ion-padding">
    <ion-row id="premiumHabitacionesGestorTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Gestor de <wbr/>habitaciones premium</h1>
    </ion-row>
    
    
    <ion-row id="premiumHabitacionesGestorLista" class="marginbottom">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium F1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium F2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium F3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 282.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium F4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium G1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium G2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium G3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 282.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación premium G4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 382.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-row>


    <ion-row class="premiumHabitacionesGestorBotones">
      <ion-button size="large" class="primarioBoton" [routerLink]="['/habitsgestor']">Volver</ion-button>
    </ion-row>

    <ion-row id="premiumHabitacionesGestorPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  