
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="fechasReservaTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Seleccione fecha de <wbr/>inicio</h1>
    </ion-row>

    <ion-row id="fechasReservaCalendario" class="ion-text-center marginbottom">

      <!-- CALENDARIO -->
      <ion-datetime displayFormat="DD-MM-YYYY" 
                    [(ngModel)]="fechaSeleccionada" 
                    (ionChange)="seleccionarFechaRango(fechaSeleccionada)">
      </ion-datetime>
    
      <div class="rango-seleccionado">
        <p>Fecha inicio: {{ fechaInicioRango ? (fechaInicioRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</p>
        <p>Fecha término: {{ fechaFinRango ? (fechaFinRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</p>
      </div>
    
    </ion-row>

    <ion-row class="fechasReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button class="primarioBoton" size="large">Seleccionar</ion-button></ion-col>
    </ion-row>
    <ion-row class="fechasReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Atrás</ion-button></ion-col>
    </ion-row>

    <ion-row id="fechasReservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  