
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="fechasReservaTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Seleccione el <wbr/>rango de <wbr/>días de <wbr/>su estadía</h1>
    </ion-row>

    <ion-row class="fechasReservaCalendario ion-justify-content-center ion-align-items-center marginbottom">
      <ion-item-group>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="fechaSeleccionada" (ionChange)="seleccionarFechaRango(fechaSeleccionada)"></ion-datetime>
      </ion-item-group>
      <ion-item-group>
        <ion-item lines="none" class="seleccionRango ion-text-center"><ion-title size="large"><strong>Fecha de entrada</strong><br/><span id="entradaFecha">{{ fechaInicioRango ? (fechaInicioRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</span></ion-title></ion-item>
        <ion-item lines="none" class="seleccionRango ion-text-center"><ion-title size="large"><strong>Fecha de salida</strong><br/><span id="salidaFecha">{{ fechaFinRango ? (fechaFinRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</span></ion-title></ion-item>
      </ion-item-group>
    </ion-row>
      <!-- CALENDARIO -->
      
    <!--
      <div class="rango-seleccionado">
        <p>Fecha inicio: {{ fechaInicioRango ? (fechaInicioRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</p>
        <p>Fecha término: {{ fechaFinRango ? (fechaFinRango | date: 'dd-MM-yyyy') : 'No seleccionada' }}</p>
      </div>
    -->
    <ion-row class="fechasReservaCalendario ion-justify-content-center">
    </ion-row>

    <ion-row class="fechasReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/habitsreserva']" (click)="navegarAHabitacionesSeleccion()" size="large">Seleccionar</ion-button></ion-col>
    </ion-row>
    <ion-row class="fechasReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/portada']" size="large">Atrás</ion-button></ion-col>
    </ion-row>

    <ion-row id="fechasReservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  