
<ion-content [fullscreen]="true">

  <ion-grid class="ion-padding">
    <ion-row id="habitacionesGestorTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Gestor de habitaciones</h1>
    </ion-row>
    
    
    <ion-row class="habitacionesGestorTipo panelBoton">
      <ion-button size="large">Habitaciones turista</ion-button>
    </ion-row>
    <ion-row class="habitacionesGestorTipo panelBoton marginbottom">
      <ion-button size="large">Habitaciones premium</ion-button>
    </ion-row>


    <ion-row class="habitacionesGestorBotones">
      <ion-button size="large" class="primarioBoton">Volver al panel</ion-button>
    </ion-row>

    <ion-row id="habitacionesGestorPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  