
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="sesionInicioTitulo" class="ion-text-center">
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-row>

    <ion-row id="sesionInicioCampo" class="ion-text-center">
      <ion-input placeholder="Nombre de usuario"></ion-input>
    </ion-row>

    <ion-row id="sesionInicioCampo" class="ion-text-center">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-row>

    <ion-row id="sesionInicioBotones">
      <ion-button class="primarioBoton" size="large">Iniciar</ion-button>
    </ion-row>

    <ion-row id="sesionInicioBotones">
      <ion-button size="large">Crear cuenta</ion-button>
    </ion-row>

    <ion-row id="sesionInicioBotones">
      <ion-button size="large">Volver</ion-button>
    </ion-row>

    <ion-row id="sesionInicioPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  