
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="seleccionResumenTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Sus reservas</h1>
    </ion-row>

    <ion-row id="seleccionResumenLista" class="ion-text-center marginbottom">
      <ol>
        <li>
          <p>
            Tres noches en habitación premium número 403 desde abril 23 de 2023.
          </p>
          <p>
            <ion-button>Catálogo de habitación</ion-button>
            <ion-button>Cancelar reserva</ion-button>
          </p>
        </li>
        <li>
          <p>
            Tres noches en habitación premium número 403 desde abril 23 de 2023.
          </p>
          <p>
            <ion-button>Catálogo de habitación</ion-button>
            <ion-button>Cancelar reserva</ion-button>
          </p>
        </li>
        <li>
          <p>
            Tres noches en habitación premium número 403 desde abril 23 de 2023.
          </p>
          <p>
            <ion-button>Catálogo de habitación</ion-button>
            <ion-button>Cancelar reserva</ion-button>
          </p>
        </li>
      </ol>
    </ion-row>

    <ion-row class="seleccionResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Salir</ion-button></ion-col>
    </ion-row>

    <ion-row id="reservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  