
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="pagoMedioTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Seleccione <wbr/>medio de <wbr/>pago</h1>
    </ion-row>

    <ion-row class="pagoMedioMedios ion-justify-content-center marginbottom">

        <ion-item lines="none" class="ion-text-center"><ion-title (click)="navegarAPagoResumen()" size="large">Tarjeta de<br/>crédito</ion-title></ion-item>
        <ion-item lines="none" class="ion-text-center"><ion-title (click)="navegarAPagoResumen()" size="large">Billetera<br/>electrónica</ion-title></ion-item>

    </ion-row>

    <ion-row class="pagoMedioBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/portada']" size="large">Abortar operación</ion-button></ion-col>
    </ion-row>

    <ion-row id="pagoMedioPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  