
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="pagoMedioTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Seleccione <wbr/>medio de <wbr/>pago</h1>
    </ion-row>

    <ion-row id="pagoMedioMedios" class="ion-justify-content-center marginbottom">
<!--
        <ion-item lines="none"><ion-img src="../../assets/images/tarjetavisa.png" alt="Tarjeta Visa" ionImgDidLoad ></ion-img></ion-item>
        <ion-item lines="none"><ion-img src="../../assets/images/tarjetamastercard.png" alt="Tarjeta MasterCard" ionImgDidLoad></ion-img></ion-item>
        <ion-item lines="none"><ion-img src="../../assets/images/tarjetaamericanexpress.png" alt="Tarjeta American Express" ionImgDidLoad></ion-img></ion-item>
        <ion-item lines="none"><ion-img src="../../assets/images/tarjetadinersclub.png" alt="Tarjeta Diners Club" ionImgDidLoad></ion-img></ion-item>
-->
        <ion-item lines="none" class="ion-text-center"><ion-title size="large">Tarjeta de<br/>crédito</ion-title></ion-item>
        <ion-item lines="none" class="ion-text-center"><ion-title size="large">Billetera<br/>electrónica</ion-title></ion-item>

    </ion-row>

    <ion-row id="pagoMedioPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  