
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="verifTitulo" class="ion-text-center">
      <ion-title>Verifique su<wbr/> selección y<br/> sus datos<wbr/> personales</ion-title>
    </ion-row>

    <ion-row id="verifResumenHabt" class="ion-text-center">
      <h3>Habitaciones seleccionadas</h3>
      <p>
        <span>Tres reservas</span> por $ <span>90.000</span>.
      </p>
      <ion-button size="large">Editar selección</ion-button>
    </ion-row>

    <ion-row id="verifResumenDatPers" class="ion-text-center">
      <h3>Datos personales</h3>
      <p>
        Nombre: <span>Juan Pedro Tapia González</span><br/>
        RUT: <span>83.943.948-F</span><br/>
        Domicilio: <span>Avda. Luna con Sol 021, Rengo</span>.<br/>
        Teléfono: <span>+569 9384 4894</span>.<br/>
      </p>
      <ion-button size="large">Editar datos personales</ion-button>
    </ion-row>

    <ion-row id="verifBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button class="primarioBoton" size="large">Realizar el pago</ion-button></ion-col>
    </ion-row>

    <ion-row id="verifBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Abortar operación</ion-button></ion-col>
    </ion-row>

    <ion-row id="verifPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  