
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="neuClienteCuentaTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Nueva cuenta cliente</h1>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Ingrese nombre"></ion-input>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Ingrese RUT"></ion-input>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Ingrese fecha de contrato"></ion-input>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Nombre del cargo"></ion-input>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Ingrese nombre de usuario"></ion-input>
    </ion-row>

    <ion-row id="neuClienteCuentaInput" class="ion-text-center">
      <ion-input placeholder="Ingrese contraseña"></ion-input>
    </ion-row>

    <ion-row class="neuClienteCuentaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button class="primarioBoton" size="large">Crear cuenta</ion-button></ion-col>
    </ion-row>

    <ion-row class="neuClienteCuentaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large" (click)="myBackButton()">Volver</ion-button></ion-col>
    </ion-row>

    <ion-row id="neuClienteCuentaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  