
<ion-content [fullscreen]="true">

  <ion-grid class="ion-padding">
    <ion-row id="turistaHabitacionesGestorTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Gestor de <wbr/>habitaciones turista</h1>
    </ion-row>
    
    
    <ion-row id="turistaHabitacionesGestorLista" class="marginbottom">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista A1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista A2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista A3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista A4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista B1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista B2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista B3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista B4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista C1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista C2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista C3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista C4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista D1</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Ocupada.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista D2</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista D3</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche (en oferta).</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
        <ion-accordion>
          <ion-item lines="none" slot="header">
            <ion-label>Habitación turista D4</ion-label>
          </ion-item>
          <div slot="content">
            <p><strong>Estado:</strong> Libre.</p>
            <p><strong>Tarifa:</strong> $ 82.445 por noche.</p>
            <p><ion-button>Gestión de reservas próximas</ion-button> <ion-button>Ver reservas pasadas</ion-button> <ion-button>Cambiar tarifa</ion-button> <ion-button>Cambiar estado</ion-button></p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-row>


    <ion-row class="turistaHabitacionesGestorBotones">
      <ion-button size="large" class="primarioBoton">Volver</ion-button>
    </ion-row>

    <ion-row id="turistaHabitacionesGestorPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  