

ion-list, ion-text, ion-item, ion-content, p, h1, h2, h3, h4, h5 {
    --background: none !important;
}

on-accordion-group, ion-accordion, ion-item, ion-label {
    background: none;
}

ion-content {
    color: #000;
    background: url('../../assets/images/background_a.png') center center no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

ion-content ion-grid {
    margin: 55px auto;
    max-width: 987px;
}

ion-row#turistaHabitacionesGestorTitulo {
    padding: 0.5em 0 2em 0.5em;
}
ion-row#turistaHabitacionesGestorTitulo h1.topTitle {
    color: #694f44;
    font-size: 39px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ion-row#turistaHabitacionesGestorLista ion-accordion-group {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-top: 1px solid #694f44;
}

ion-row#turistaHabitacionesGestorLista > ion-accordion-group > ion-accordion > ion-item > ion-label {
    color: #694f44;
    font-size: 21px;
    font-weight: bold;
}

ion-row#turistaHabitacionesGestorLista > ion-accordion-group > ion-accordion {
    border-bottom: 1px solid #694f44;
}
ion-row#turistaHabitacionesGestorLista > ion-accordion-group > ion-accordion > div {
    color: #000;
    font-size: 21px;
    padding: 1em;
    margin: 0;
}
ion-row#turistaHabitacionesGestorLista > ion-accordion-group > ion-accordion > div > p > ion-button {
    --background: #E7D0C6;
    --background-hover: #fff;
    --background-activated: #694f44;
    --background-focused: #694f44;
    --box-shadow: 0 13px 34px 8px rgba(0, 0, 0, 0.2), 0 3px 8px 2px rgba(0, 0, 0, 0.3);
    --border-radius: 3px;
    --color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 1em 1em 1em 0;
}




ion-row.turistaHabitacionesGestorBotones ion-button {
    --background: #E7D0C6;
    --background-hover: #fff;
    --background-activated: #694f44;
    --background-focused: #694f44;
    --box-shadow: 0 13px 34px 8px rgba(0, 0, 0, 0.2), 0 3px 8px 2px rgba(0, 0, 0, 0.3);
    --border-radius: 3px;
    --color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin: 1em auto;
}
ion-row.panelBoton ion-button {
    min-width: 377px;
}

ion-row ion-button.primarioBoton {
    --background-activated: #E7D0C6;
    --background-focused: #E7D0C6;
    --background: #694f44;
    --background-hover: #694f44;
    --color: #E7D0C6;
}

ion-row#turistaHabitacionesGestorPie > ion-img {
    max-width: 377px;
    margin: 89px auto 0 auto;
}


ion-row.marginbottom {
    margin-bottom: 4em;
}