
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="habitacionCatalogoTitulo" class="ion-text-center marginbottom">

      <h1 class="topTitle">
        Habitación&nbsp;<wbr/>{{ habit }}
      </h1>
    </ion-row>

    <ion-row class="habitacionCatalogoDescripcion ion-text-center borderTop">

      <p class="topP">Descripción.<!-- {{ Descripción }} --></p>

      <p>$ <span>888.888<!-- {{ Precio }} --></span> por noche.</p>

    </ion-row>
    <ion-row class="habitacionCatalogoFotos ion-text-center marginbottom">
      <!-- Start foreach imagen in imagenesList -->
      <ion-col><ion-img src="" alt="" ></ion-img></ion-col>
      <!-- End foreach -->
    </ion-row>

    <ion-row id="habitacionCatalogoBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button (click)="myBackButton()" size="large">Volver</ion-button></ion-col>
    </ion-row>

    <ion-row id="habitacionCatalogoPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  