
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="habitacionCatalogoTitulo" class="ion-text-center marginbottom">

      <h1 class="topTitle">Habitación<wbr/>&nbsp;<span id="tipo">Premium<!-- Habitació tipo --></span><wbr/>&nbsp;<span id="numero">G10<!-- Habitació número --></span>

      </h1>
    </ion-row>

    <ion-row class="habitacionCatalogoContenido ion-text-center marginbottom">

      <p class="topP">Descripción.<!-- Descripción --></p>

      <p>$ <span>888.888<!-- Precio --></span> por noche.</p>

      <p>
        <!-- Start foreach imagen in imagenesList -->
        <ion-img src="" alt="" ></ion-img>
        <!-- End foreach -->
      </p>

    </ion-row>

    <ion-row id="habitacionCatalogoBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Volver</ion-button></ion-col>
    </ion-row>

    <ion-row id="habitacionCatalogoPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  