
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="habitacionCatalogoTitulo" class="ion-text-center marginbottom">

      <h1 class="topTitle">
        <span *ngIf="esPremium(habit); else elseBlock">Habitación <wbr/>Premium número {{ habit }}</span>
        <ng-template #elseBlock>Habitación <wbr/>Turista número {{ habit }}</ng-template>
      </h1>
    </ion-row>

    <ion-row class="habitacionCatalogoDescripcion ion-text-center borderTop">

      <p class="topP"><span *ngIf="esPremium(habit); else elseBlockx">Descripción habitación Premium</span>
        <ng-template #elseBlockx>Descripción habitación Turista</ng-template>.</p>

      <p>$ <span *ngIf="esPremium(habit); else elseBlocc">45.000</span>
        <ng-template #elseBlocc>30.000</ng-template> por noche.</p>

    </ion-row>
    <ion-row class="habitacionCatalogoFotos ion-text-center marginbottom" *ngIf="esPremium(habit); else elseBlockk">
      <ion-img src="../../assets/images/premiumhabts/1.jpg" alt="Habitación Premium" ionImgDidLoad ></ion-img>
      <ion-img src="../../assets/images/premiumhabts/2.jpg" alt="Habitación Premium" ionImgDidLoad ></ion-img>
      <ion-img src="../../assets/images/premiumhabts/3.jpg" alt="Habitación Premium" ionImgDidLoad ></ion-img>
    </ion-row>

      <ng-template #elseBlockk>
        <ion-row class="habitacionCatalogoFotos ion-text-center marginbottom">
          <ion-img src="../../assets/images/turistahabts/1.jpg" alt="Habitación Turista" ionImgDidLoad ></ion-img>
          <ion-img src="../../assets/images/turistahabts/2.jpg" alt="Habitación Turista" ionImgDidLoad ></ion-img>
          <ion-img src="../../assets/images/turistahabts/3.jpg" alt="Habitación Turista" ionImgDidLoad ></ion-img>
        </ion-row>
      </ng-template>

    <ion-row id="habitacionCatalogoBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button (click)="myBackButton()" size="large">Volver</ion-button></ion-col>
    </ion-row>

    <ion-row id="habitacionCatalogoPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  