
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="pagoResumenTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Resumen de<wbr/> la reserva y<wbr/> del pago</h1>
    </ion-row>

    <ion-row id="pagoResumenLista" class="ion-text-center marginbottom">
      <ol>
        <ng-container *ngFor="let habit of habitacionesSeleccionadas">
         <ng-container *ngFor=" let a of jsonHabitacionFicha">
           <ng-container *ngIf="a.piso === pisoNumeroSeparador(habit).piso">
             <ng-container *ngFor=" let b of a.rooms">
               <ng-container *ngIf="b.numero === pisoNumeroSeparador(habit).numero">
                 <li>
                   <p>
                     {{ diferenciaEnDias }} días desde {{ fechaInicio | date:'mediumDate' }} hasta {{ fechaFin | date:'mediumDate' }} en <span class="habtTipo"><strong>habitación 
                     {{ a.habitacionestipo }} número {{ a.piso + b.numero }}</strong></span> por {{ (diferenciaEnDias * b.precio) | currency:'$ ':'symbol':'1.0-0' }}.
                   </p>
                 </li>
               </ng-container>
             </ng-container>
           </ng-container>
         </ng-container>
        </ng-container>
        <li>
          <p>
            Pago realizado por habitaciones reservadas {{ (totalSum) | currency:'$ ':'symbol':'1.0-0' }}.
          </p>
        </li>
      </ol>
    </ion-row>

    <ion-row id="pagoResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/portada']" size="large">Volver al inicio</ion-button></ion-col>
    </ion-row>

    <ion-row id="pagoResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Imprimir</ion-button></ion-col>
    </ion-row>

    <ion-row id="pagoResumenPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  