
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="habitacionesReservaTitulo" class="ion-text-center">
      <ion-title size="large">Seleccione <wbr/>habitaciones</ion-title>
    </ion-row>

    <ion-row id="habitacionesReservaCalendario" class="ion-text-center">



    </ion-row>

    <ion-row class="habitacionesReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button class="primarioBoton" size="large">Seleccionar</ion-button></ion-col>
    </ion-row>
    <ion-row class="habitacionesReservaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Atrás</ion-button></ion-col>
    </ion-row>

    <ion-row id="habitacionesReservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  