<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row id="habitacionesReservaTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Seleccione <wbr/>habitaciones</h1>
    </ion-row>

    <div *ngFor="let piso of pisoLetras.slice().reverse(); let i = index">

      <ion-row class="ion-text-center piso-title-row">
        <h2>—&nbsp; Piso {{ pisoLetras.length - i }} · <span>Habitaciones {{ esTurista(piso) ? 'Turista' : 'Premium' }}</span> &nbsp;—</h2>
      </ion-row>
  
      <ion-row class="ion-justify-content-center floor">
          <ng-container class="ion-justify-content-center" *ngFor="let habitacion of habitaciones | keyvalue">
              <div class="room habitacion-box" [class]="habitacion.value" *ngIf="isString(habitacion.key) && habitacion.key.startsWith(piso)" (click)="seleccionarHabitacion(habitacion.key)">
                  {{ habitacion.key }}
              </div>
          </ng-container>
      </ion-row>
  
  </div>
  

    <ion-row class="habitacionesReservaBotones margintop">
      <ion-col class="ion-padding ion-text-center">
        <ion-button class="primarioBoton" size="large" (click)="navegarAResumen()">Seleccionar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="habitacionesReservaBotones">
      <ion-col class="ion-padding ion-text-center">
        <ion-button size="large" (click)="myBackButton()">Atrás</ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="habitacionesReservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título"></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>
