
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="hotelAdmnTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Panel administrador</h1>
    </ion-row>

    <ion-row class="hotelAdmnBotones panelBoton">
      <ion-button size="large">Gestor de habitaciones</ion-button>
    </ion-row>

    <ion-row class="hotelAdmnBotones panelBoton">
      <ion-button size="large">Informes de reservas</ion-button>
    </ion-row>

    <ion-row class="hotelAdmnBotones panelBoton">
      <ion-button size="large">Cuentas de clientes</ion-button>
    </ion-row>

    <ion-row class="hotelAdmnBotones panelBoton marginbottom">
      <ion-button size="large">Cuentas de empleados</ion-button>
    </ion-row>

    <ion-row class="hotelAdmnBotones ">
      <ion-button size="large" class="primarioBoton">Salir</ion-button>
    </ion-row>

    <ion-row id="hotelAdmnPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  