
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="empleadoCuentaTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Cuenta de empleado</h1>
    </ion-row>

    <ion-row id="empleadoCuentaDatPers" class="ion-text-center">
      <p>
        Juan Pedro Tapia González<br/>
        RUT: 83.943.948-F<br/>
        Cargo: Aseador.<br/>
      </p>
    </ion-row>

    <ion-row id="empleadoCuentaServicios" class="ion-text-center marginbottom">
      <h3>Calendario de servicios</h3>
      <ion-list>
        <ion-item lines="none">
          9:45 am. Entrada.
        </ion-item>
        <ion-item lines="none">
          10:00 am. Reunión de asedores con encargado de aseo.
        </ion-item>
        <ion-item lines="none">
          10:30 am. Limpieza habitación F2.
        </ion-item>
        <ion-item lines="none">
          11:25 am. Desayuno habitación C5.
        </ion-item>
        <ion-item lines="none">
          12:50 am. Cambiar cloro de piscina.
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="empleadoCuentaBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button [routerLink]="['/hotel-admn']" class="primarioBoton" size="large">Volver al panel</ion-button></ion-col>
    </ion-row>

    <ion-row id="empleadoCuentaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  