
<ion-content [fullscreen]="true">
 

<ion-grid>

  <ion-row id="portadaTitulo" class="ion-text-center">
    <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
  </ion-row>

  <ion-row id="portadaImagen" class="ion-padding ion-text-center">
    <ion-img src="../../assets/images/184232391.jpg" alt="Hotel Portada" ionImgDidLoad ></ion-img>
  </ion-row>

  <ion-row class="portadaBotones">
    <ion-col class="ion-text-center"><ion-button size="large">Reservar</ion-button></ion-col>
    <ion-col class="ion-text-center"><ion-button size="large">Ingresar</ion-button></ion-col>
  </ion-row>

</ion-grid>

</ion-content>
