
<ion-content [fullscreen]="true">

  <ion-grid  class="ion-padding">
    <ion-row id="seleccionResumenTitulo" class="ion-text-center">
      <ion-title size="large">Resumen de la selección</ion-title>
    </ion-row>

    <ion-row id="seleccionResumenLista" class="ion-text-center">
      <ol>
        <li>
          <p>
            <span>Tres noches</span> en<br/>
            <span>habitación premium</span> número <span>403</span><br/>
            desde <span>abril</span>&nbsp;<span>23</span> de <span>2023</span><br/>
            por $ <span>30.000</span>.
          </p>
        </li>
        <li>
          <p>
            <span>Tres noches</span> en<br/>
            <span>habitación premium</span> número <span>403</span><br/>
            desde <span>abril</span>&nbsp;<span>23</span> de <span>2023</span><br/>
            por $ <span>30.000</span>.
          </p>
        </li>
        <li>
          <p>
            <span>Tres noches</span> en<br/>
            <span>habitación premium</span> número <span>403</span><br/>
            desde <span>abril</span>&nbsp;<span>23</span> de <span>2023</span><br/>
            por $ <span>30.000</span>.
          </p>
        </li>
        <li>
          <p>
            Suma por habitaciones reservadas $ <span>90.000</span>.
          </p>
        </li>
      </ol>
    </ion-row>

    <ion-row id="seleccionResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Atrás</ion-button></ion-col>
      <ion-col class="ion-padding ion-text-center"><ion-button size="large">Ir a pagar</ion-button></ion-col>
    </ion-row>

    <ion-row id="reservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>
  