<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row id="seleccionResumenTitulo" class="ion-text-center marginbottom">
      <h1 class="topTitle">Resumen de<wbr/> la selección</h1>
    </ion-row>

    <ion-row id="seleccionResumenLista" class="ion-text-center marginbottom">
      <ol>
        <ng-container *ngFor="let habit of habitacionesSeleccionadas">
          <li>
            <p>
              Tres noches desde abril 23 de 2023 en habitación 
              <span *ngIf="esPremium(habit); else elseBlock"><strong>Premium número {{ habit }}</strong> por $ 45.000</span>
              <ng-template #elseBlock><span><strong>Turista número {{ habit }}</strong> por $ 30.000</span></ng-template>.
            </p>
            <p>
              <ion-button>Ver catálogo de habitación</ion-button>
            </p>
          </li>
        </ng-container>
        <li>
          <p>
            Suma por habitaciones reservadas $ {{ total }}.
          </p>
        </li>
      </ol>
    </ion-row>

  <ion-row class="seleccionResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button class="primarioBoton" size="large" [routerLink]="['/reservalogin']">Credenciales Hotel</ion-button></ion-col>
    </ion-row>
    <ion-row class="seleccionResumenBotones">
      <ion-col class="ion-padding ion-text-center"><ion-button size="large" (click)="myBackButton()">Atrás</ion-button></ion-col>
    </ion-row>

    <ion-row id="reservaPie" class="ion-text-center">
      <ion-img src="../../assets/images/pacific reef titulo .png" alt="Hotel Título" ionImgDidLoad ></ion-img>
    </ion-row>
  
  </ion-grid>

</ion-content>